.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
    width: 25%;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-flow: column wrap;
    height: 260px;
}

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link{
    width: 23%;
    margin: 1%;
}

.conteudoPrincipal-cursos-link:nth-child(4n){
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1){
    margin-left: 0;
}

.videoSobre .container{
    display: flex;
    justify-content: space-around;
}

.videoSobre-sobre{
    text-align: center;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.videoSobre-sobre-list{
    flex-grow: 1;
}

.videoSobre-video{
    flex-grow: 1;
    flex-shrink: 2;
}

@media (max-width: 768px) {
    .cabecalhoPrincipal .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        
    .cabecalhoPrincipal-nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }    

    .conteudoPrincipal-cursos{
        flex-direction: column;
    }

    .conteudoPrincipal-cursos-link{
        width: 100%;
        margin: 1% 0;
    }
        
    .rodapePrincipal-navMap-list{
        display: flex;
        flex-flow: column wrap;
        height: auto;
    }
        
    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
    }

    .rodapePrincipal-patrocinadores-list{
        width: 100%;
    }

    .cabecalhoPrincipal-nav-link-app{
        order: -1;
    }

        
    .videoSobre .container{
        flex-direction: column;
    }

    .videoSobre-sobre{
        margin: 0;
    }

    .videoSobre-video{
        margin: 0 auto;
    }

}